*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.whatsapp-icon {
    position: fixed;
    width: 50px;
    bottom: 20px;
    right: 60px;
}

.whatsapp-icon img {
    width: 100%;
}

.center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.index-page {
    background-image: url(./assets/background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;  
}

.index-page header {
    
    background-color: rgba(29, 51, 89, 0.418);
    
}

.index-page header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.index-page header .logo img{
    width: 80px;
}

.index-page header .logo p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 5px;
}

.index-page header .menu nav ul {
    display: flex;
    flex-direction: row;
}

.index-page header .menu nav ul li, a{
    margin-left: 25px;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.index-page .main-index {
    display: flex;
    flex-direction: row;
}

.index-page .main-index .buttons-index {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    margin: 150px auto;
    padding: 0 100px;
}

.index-page .main-index .buttons-index a button {
    padding: 14px;
    border: 0;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.index-page .main-index .apresentation-index {
    width: 50%;
    margin-top: 110px;
    text-align: center;
    color: white;
    padding: 0 50px;
}

.index-page .main-index .apresentation-index h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.index-page .main-index .apresentation-index h1 img {
    width: 50px;
}

.index-page .main-index .apresentation-index p {
    font-size: 25px;
    font-weight: bold;
}

.services-page {
    width: 100%;
    background-color: #1D3359;
    box-shadow: 0px -30px 30px #1D3359;
}

.services-page > .center {
    display: flex;
    flex-direction: column;
}

.services-page .title-services {
    width: 100%;
}

.services-page .title-services h1{
    text-align: center;
    color: white;
    margin: 30px 0;
}

.services-page .title-services h1 img {
    width: 40px;
}

.services-page .main-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
}

.services-page h1 {
    color: white;
    margin: 60px auto 80px auto;
    font-size: 20px;
}

.services-page h1 img {
    width: 30px;
}

.services-page .main-services .card-service {
    width: 100%;
    border: solid 1px white;
}

.services-page .main-services .card-service .card {
    background-color: white;
    width: 100%;
    padding: 80px 0;
    background-size: cover;
}

.services-page .main-services .card-service .description {
    color:  white;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.contato-page {
    width: 100%;
    background-color: #9E1E22;
    box-shadow: 0px -30px 30px #9E1E22;
}

.services-page > .center {
    display: flex;
    flex-direction: column;
}

.contato-page .title-contato {
    width: 100%;
}

.contato-page .title-contato h1{
    text-align: center;
    color: white;
    margin: 30px 0;
}

.contato-page .title-contato h1 img {
    width: 40px;
}

.contato-page .main-contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
}

.main-contato .map img {
    width: 100%;
}

.main-contato .contato p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.form-content {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 40px;
    padding: 40px;
}

.form-content > center { 
    display: flex;
    flex-direction: row;

}

.form-content form {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    color: white;
}

.form-content form input, button, textarea {
    width: 100%;
    border: 0;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.form-content form button {
    background-color: #1D3359;
    color: white;
    font-weight: bold;
}

.form-content .information-form {
    width: 50%;
}

.form-content .information-form .text-information-form {
    max-width: 100%;
    font-size: 20px;
    color: white;
    text-align: left;
}

.form-content .information-form .text-information-form h1 {
    margin: 30px;
}

.form-content .information-form .text-information-form h1 img {
    width: 40px;
}

footer {
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #1D3359;
    color: white;
    text-align: center;
}